*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;
}

.conteudo{
    width: 100%;
    height: 100vh;
    background-color: var(--verde-secundario) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #f0f0f0;
}   

.cabecalho{
    width: 100%;
    height: 15vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #000;
}

.cabecalho-titulo{
    font-size: 32px;
    color: var(--verde-escuro-secundario);
    font-weight: bolder;
}

.formulario{
    max-width: 500px;
    width: 80%;

    padding: 20px;

    background-color: var(--verde-principal) !important;
    color: var(--verde-escuro-secundario) !important;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.form-label{
    margin-bottom: 8px;
    font-weight: bold;
}

.form-input{
    width: 100%;

    padding: 10px;
    margin-bottom: 15px;

    border: 1px solid #000;
    border-radius: 10px;
}

.form-button{
    font-weight: bold;
    font-size: 24px;
    background-color: var(--verde-escuro-principal) !important;
    text-transform: uppercase;
    font-weight: 700;
    border: 0;
    border-radius: 20px;
}

.rodape{
    width: 100%;
    height: 5vh;

    display: flex;

    padding: 10px;

    align-items: start;
    justify-content: center;

}

.rodape a{
    color: var(--verde-medio-secundario) !important;

}
.required{
    color: red;
}

@media screen and (min-width: 1024px){
    .form-button{
        width: 50%;
    }

    .cabecalho-titulo{
        font-size: 48px;
        font-weight: bolder;
    }
}