.card{
    max-width: 360px !important;
    background-color: var(--verde-claro-medio);
    border: none !important;
}

.card h1{
    font-weight: 700;
    color: var(--verde-escuro);
   
}

label {
    color: var(--verde-escuro-medio);
    font-weight: 700;
}

input:focus {
    border: 2px solid var(--verde-principal) !important;
    outline: none !important;
    box-shadow: 0 0 5px rgba(224, 243, 209, 0.5) !important;
}

input::placeholder{
    color: var(--verde-escuro-medio);
    opacity: 0.8; 
}

#form button{
    background-color: var(--verde-escuro-medio) !important;
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    height: 50px;
    margin-top: 15px;
}

#form button:hover{
    background-color: var(--verde-escuro) !important;
}

#form a{
    color: var(--verde-escuro);
    text-decoration: underline;
}

p {
    color: var(--verde-escuro-medio);
}