
    body {
      background-color: var(--branco); /* verde bem suave */
    }

    .form-container {
      max-width: 600px;
      margin: 40px auto;
      padding: 25px;
      background-color: var(--branco);
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
      border: 2px solid var(--verde-escuro); /* verde bootstrap */
    }

    h1 {
      text-align: center;
      color: var(--verde-escuro);
      margin-bottom: 20px;
    }

    .btn-success {
      width: 100%;
    }

    textarea {
      resize: none;
    }