@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: inter;
}

/* Fundo da Pagina */
.conteudo {
    width: 100vw;
    height: 100vh;
}

/* Cartão */
.card__container {
    background-color: var(--verde-claro-medio);
    border: none !important;
    border-radius: 10px;
    max-width: 900px;
    width: 80%;
    height: 80%;
<<<<<<< HEAD
    border: 2px solid var(--branco);
=======
    border: 2px solid var(--verde-escuro);
>>>>>>> 29e64399251d9b0a97dea89cce141b1bcfc459ef
    z-index: 0;
    
}

.card__container>h3 {
    font-size: 48px;
    font-weight: 700;
    color: var(--verde-escuro);

}

/* Botões */
.botao__container {
<<<<<<< HEAD
    background-color: var(--verde-claro-medio);
    color: var(--branco);
=======
    background-color: var(--verde-escuro-medio);
    color: var(--verde-claro);
>>>>>>> 29e64399251d9b0a97dea89cce141b1bcfc459ef
    border-radius: 15px;
    height: 65px;
}

.botao__container:hover {
<<<<<<< HEAD
    background-color: var(--verde-claro);
}

.botao__container:hover .botao__icone {
    color: var(--preto);
=======
    background-color: var(--verde-escuro);
    color: var(--verde-claro);
>>>>>>> 29e64399251d9b0a97dea89cce141b1bcfc459ef
}

/* Icones */
.botao__icone {
<<<<<<< HEAD
    color: var(--verde-escuro-medio);
=======
    color: var(--verde-claro);
>>>>>>> 29e64399251d9b0a97dea89cce141b1bcfc459ef
}


@media (min-width: 768px) {
    .card__container>h3 {
        width: 100%;
        font-size: 64px;
    }

    .botao__container {
        height: 100px;
        font-size: 32px;
    }
}