* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif; 
  margin: 0;
  padding: 0;
}

.conteudo {
  width: 100%; 
  min-height: 100vh; 
}

.card__container {
  background-color: var(--verde-claro-medio);
  border: none; 
  border-radius: 10px;
  max-width: 900px;
  width: 80%;
  height: 80%; 
  box-shadow: rgba(0, 54, 7, 0.25) 0px 54px 55px, rgba(0, 54, 7, 0.25) 0px -12px 30px, rgba(0, 54, 7, 0.25) 0px 4px 6px, rgba(0, 65, 9, 0.25) 0px 12px 13px, rgba(0, 75, 10, 0.25) 0px -3px 5px;
  position: relative; 
  z-index: 0;
  padding: 20px; 
}

.card__container > h3 {
  font-size: 48px;
  font-weight: 700;
  color: var(--verde-escuro);
  margin-top: 0; 
}

.botao__container {
  background-color: var(--verde-escuro-medio);
  color: var(--branco);
  border-radius: 15px;
  height: 65px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.botao__container:hover {
  background-color: var(--verde-escuro);
  color: var(--verde-claro);
}

.botao__icone {
  color: var(--verde-claro);
  transition: color 0.3s ease;
}

.botao__container:hover .botao__icone {
  color: var(--verde-claro); 
}

@media (min-width: 768px) {
  .card__container > h3 {
    width: 100%; 
    font-size: 64px;
  }

  .botao__container {
    height: 100px;
    font-size: 32px;
  }
}