
    body {
      background-color: #71B91E
    }

    .form-container {
      max-width: 600px;
      margin: 40px auto;
      padding: 25px;
      background-color: #9BCA58;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
      border: 2px solid #198754; /* verde bootstrap */
    }

    h1 {
      text-align: center;
      color: #2D4A0C;
      margin-bottom: 20px;
    }

    .btn-success {
      background-color: #4D7E16;
      border: none;
    }

    textarea {
      resize: none;
    }