:root {
    /* Cores Principais */
    --verde-claro: #F6FBF2;
    --verde-claro-medio: #A0D978;
    --verde-principal: #6AB633;
    --verde-escuro-medio: #3C671D;
    --verde-escuro: #1C360A;

    /* Cores Bases */
    --branco: #ffffff;
    --preto: #000000;
    --vermelho: rgb(255, 83, 83);
}
