:root {
    /* Cores Principais */
    --verde-claro-principal: #E6FFC1;
    --verde-principal: #9BCA58;
    --verde-medio-principal: #719341;
    --verde-escuro-principal: #516D2B;

    /* Cores Secundarias */
    --verde-claro-secundario: #C2E798;
    --verde-secundario: #71B91E;
    --verde-medio-secundario: #4D7E16;
    --verde-escuro-secundario: #2D4A0C;

    /* Cores Bases */
    --branco: #ffffff;
    --preto: #000000;
}