* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--verde-claro);
  font-family: Arial, sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto; 
  overflow-x: hidden;
}

main.corpo {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botoes {
  background-color: var(--verde-claro-medio);
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn-funcoes {
  background-color: var(--verde-escuro-medio);
  color: var(--verde-claro);
  border: none;
  height: 30px;
  width: 150px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
}

.btn-funcoes:hover {
  transition-duration: 1s;
  background-color: var(--verde-escuro);
}

.container-fluid {
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  padding: 0;
  margin: 0;
}

.main-content {
  flex-grow: 1;
  width: 100%;
  max-width: 600px; 
  padding: 1rem;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-content .info-section {
  width: 100%;
}

.card-info {
  width: 100%;
  background-color: var(--verde-claro-medio);
  gap: 15px;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 109, 5, 0.288);
  margin-bottom: 1.5rem;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--verde-escuro);
  margin-bottom: 1rem;
  text-align: left;
}

.cooperativa-nome {
  font-size: 1.1rem;
  color: var(--verde-escuro);
  margin-bottom: 0.25rem;
}

.cooperativa-cnpj {
  font-size: 0.9rem;
  color: var(--verde-escuro-medio);
}

.cooperativa-cnpj-bold {
  font-weight: 600;
}

.localizacao .material-icons {
  color: var(--vermelho);
  font-size: 1.2rem;
  vertical-align: middle;
  margin-right: 0.25rem;
}

.endereco {
  font-size: 1rem;
  color: var(--verde-escuro);
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.cidade {
  font-size: 1.1rem;
  color: var(--verde-escuro);
  font-weight: bold;
}

.contato-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contato-card p.fw-bold {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--verde-escuro);
}

.btn-contato {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  transition: background-color 0.2s, box-shadow 0.2s;
  background-color: var(--verde-escuro-medio) !important;
  color: var(--verde-claro-medio);
  border: 1px solid var(--verde-escuro);
  
}

.btn-contato:hover {
  background-color: var(--verde-principal) !important;
  text-decoration: none;
  color: var(--verde-escuro) !important;
}

.btn-contato .material-icons {
  font-size: 1.3rem;
  margin-right: 0.5rem;
}

.btn-contato:not(.whatsapp-btn)  {
  color: var(--verde-claro-medio);
}

.whatsapp-btn {
  color: var(--verde-claro-medio);
}

.whatsapp-btn .material-icons {
  color: var(--verde-claro-medio);
}

.whatsapp-btn:hover .material-icons {
  color: var(--verde-escuro);
}

.card-btnEditar {
  width: 100%;
  display: flex;
  justify-content: center;
align-items: start;
  padding-bottom: 20px; 
}

.btn-editar {
  color: var(--verde-claro);
  text-decoration: none;
  background-color: var(--verde-escuro-medio);
  border: none;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.btn-editar:hover {
  transition-duration: 1s;
  background-color: var(--verde-escuro);
}

@media (min-width: 768px) {
  .main-content {
      max-width: 720px;
      padding: 2rem;
  }

  .section-title {
      font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .main-content {
      max-width: 960px;
  }
}

@media (min-width: 1400px) {
  .main-content {
      max-width: 1140px;
  }
}