* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: var(--verde-claro);
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    
  }

.corpo {
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.centralizacao {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-infos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background-color: var(--verde-principal);
  border-radius: 10px;
  height: 50%;
  width: 50%;
  padding: 50px;
}

.botoes {
  background-color: var(--verde-claro-medio);
  height: 40px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn-funcoes {
  background-color: var(--verde-escuro-medio);
  color: var(--verde-claro);
  border: none;
  height: 30px;
  width: 150px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
}

.card-sobre {
  background-color: var(--verde-claro-medio);
  border-radius: 5px;
  height: 80%;
  width: 40%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h5 {
  font-weight: 600;
  font-size: 32px;
}

.sobre-conteudo {
  font-size: 24px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.card-contato {
  background-color: var(--verde-claro-medio);
  border-radius: 5px;
  height: 80%;
  width: 40%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contato-conteudo {
  font-size: 24px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.cidade {
  font-weight: 600;
}