* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: var(--verde-claro);
    display: flex;
    flex-direction: column;
}

.corpo {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    background-color: var(--verde-principal);
    border-radius: 10px;
}

.acoes h1 {
    font-size: 2.5rem;
    margin-bottom: 5px;
    color: var(--verde-escuro) !important;
}

.acoes p {
    font-size: 32px;
    margin-bottom: 20px;
    color: var(--verde-escuro) !important;
}

.acoes__cooperativa {
    display: grid;
    gap: 15px;
    background-color: var(--verde-escuro-medio);
    padding: 20px;
    border-radius: 10px;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;

    & a{
        text-decoration: none;
    }
    & .acoes__cooperativa-btn {
        width: 100%;
        min-height: 120px;
        padding: 20px;
        background-color: var(--verde-claro-medio);
        color: var(--verde-escuro);
        border: none;
        border-radius: 8px;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color 0.3s;
        &:hover {
            background-color: var(--verde-escuro);
            color: var(--verde-claro);
        }
    }
}

@media (min-width: 600px) {
    .acoes__cooperativa {
        grid-template-columns: repeat(2, 1fr);
    }

    .acoes__cooperativa-btn:nth-child(3) {
        grid-column: 1 / -1;
    }
}

@media (min-width: 900px) {
    .acoes__cooperativa {
        grid-template-columns: repeat(3, 1fr);
    }

    .acoes__cooperativa-btn:nth-child(3) {
        grid-column: auto;
    }
}

.acoes__compradores h2 {
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 15px;
}