@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: inter;
    box-sizing: border-box;
    padding: 0;
}

.titulo__icone{
    font-size: 64px !important;
    color: var(--branco);
}

.container__form{
    background-color: var(--verde-principal);
}

.button__login{
    background-color: var(--verde-escuro-medio);
    color: var(--branco);
    border-radius: 15px;
    height: 45px;
    font-size: 24px;
    font-weight: 400;
    border: none;
}

.button__login:hover{
    background-color: var(--verde-escuro);
    color: var(--verde-claro);
    cursor: pointer;
}