@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: inter;
    box-sizing: border-box;
    padding: 0;
}

.titulo{
    font-size: 34px !important;
    font-weight: 700;
    color: var(--verde-escuro-medio);
}

.titulo .material-symbols-outlined
{
    font-size: 1em;
}

.container__form{
    background-color: var(--branco);
}

label {
    color: var(--verde-escuro-medio);
    font-weight: 700;
}

input:focus {
    border: 2px solid var(--verde-principal) !important;
    outline: none !important;
    box-shadow: 0 0 5px rgba(224, 243, 209, 0.5) !important;
}

input::placeholder{
    color: var(--verde-escuro-medio) !important;
    opacity: 0.8 !important; 
}

.button__login{
    display: block; 
    text-align: center; 
    background-color: var(--verde-escuro-medio) !important;
    color: var(--verde-claro) !important; 
    border: none !important;
    text-transform: uppercase;
    font-weight: 700  !important;
    font-size: 1.1rem !important; 
    padding: 10px 0; 
    border-radius: 5px;
    transition: background-color 0.3s !important;
}

.button__login:hover{
    background-color: var(--verde-escuro) !important;
    cursor: pointer;
}

.link_a {
    color: var(--verde-escuro-medio);
    text-decoration: underline;
}

.link_a:hover {
    color: var(--verde-escuro);
}

.btn-voltar {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
    color: var(--verde-escuro-medio, #2c7a62);
    font-weight: 600;
    transition: color 0.2s;
}

.btn-voltar:hover {
    color: var(--verde-escuro, #1b4d3e);
}