/* Personalizando o botão de confirmação */
.my-btn {
    background-color: #4CAF50;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
}

.my-btn:hover {
    background-color: #45a049;
}

/* Personalizando o botão de cancelar */
.my-btn-cancel {
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border-radius: 50px;
}

.my-btn-cancel:hover {
    background-color: #e53935;
}