body {
    background-color: var(--verde-escuro) !important; 
}


.card {
    max-width: 400px; 
    width: 90%; 
    background-color: var(--branco) !important;
    color: var(--verde-escuro-secundario);
    border-radius: 10px;
}

#form-login-cooperativas label {
    color: var(--verde-escuro-medio);
    font-weight: 700;
}

#form-login-cooperativas input:focus {
    border: 2px solid var(--verde-principal) !important;
    outline: none !important;
    box-shadow: 0 0 5px rgba(224, 243, 209, 0.5) !important;
}

input::placeholder{
    color: var(--verde-escuro-medio) !important;
    opacity: 0.8 !important; 
}

.btn-login {
    display: block; 
    text-align: center; 
    background-color: var(--verde-escuro-medio) !important;
    color: var(--verde-claro) !important; 
    border: none !important;
    text-transform: uppercase;
    font-weight: 700  !important;
    font-size: 1.1rem !important; 
    padding: 10px 0; 
    border-radius: 5px;
    transition: background-color 0.3s !important;
}

.btn-login:hover {
    background-color: var(--verde-escuro) !important; 
    color: var(--verde-claro) !important; 
    text-decoration: none !important; 
}

#form-login-cooperativas p {
    color: var(--verde-escuro) !important;
    font-size: 0.95rem;
}

#form-login-cooperativas a {
    transition: color 0.3s;
}

.link_a {
    color: var(--verde-escuro-medio);
}

.link_a:hover {
    color: var(--verde-escuro);
    text-decoration: underline;
}

.titulo{
    font-size: 34px !important;
    font-weight: 700;
    color: var(--verde-escuro-medio);
}

.titulo .material-symbols-outlined
{
    font-size: 1em;
}