<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recoopera | Informações Cooperativa</title>
  <link rel="stylesheet" href="../static/css/Informações_cooperativa/Pagina_Informações.css">

  <link rel="stylesheet" href="../static/css/root-de-cores.css">

  <!-- Ícones Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <!-- Link para o favicon -->
  <link rel="icon" href="../static/img/favicon.png" type="image/png">
</head>

<body>


  <!-- Cabeçalho -->

  {% include 'includes/header.html' %}


  <!-- Abas -->
  <div class="tabs">

    <button onclick="window.location" class="btn-funcoes">Informações</button>
    <button onclick="window.location.href='vendas.html'"clas="btn-funcoes">Vendas</button>
    <button onclick="window.location.href='/cadastro-catador'"clas="btn-funcoes">Cadastrar</button>
  </div>

  <!-- Conteúdo principal -->
   
  <div class="container mt-3">


    <!-- informações cooperativa  -->
    <h5>Sobre a cooperativa</h5>
    <div class="cards-infos centralizacao">
      <p class="mb-1"><strong>Cooperativa Samuel Ferreira LTDA</strong></p>
      <p class="mb-1">46.073.136/0001-22</p>
      <p class="mb-1">
        <i class="bi bi-geo-alt"></i>
        Rua dos Bobos, 0 - Vila dos Pelicanos
      </p>
      <p class="mb-0">Araraquara, SP</p>
    </div>
    <!-- informações contato  -->
    <h5>Contato</h5>
    <div class="cards-infos centralizacao">
      <div class="icone"><i class="bi bi-telephone"></i></div>
      <p class="fw-bold">Ligar para a cooperativa</p>

      <!-- informações Telefone fixo -->
      <div class="d-flex align-items-center justify-content-center gap-2 mb-2 bg-light p-2 rounded">
        <i class="bi bi-telephone-fill"></i>
        <span>(16) 3333-3333</span>
      </div>
      <!-- informações WhatsApp -->
      <div class="d-flex align-items-center justify-content-center gap-2 bg-light p-2 rounded">
        <i class="bi bi-whatsapp"></i>
        <span>(16) 99999-9999</span>
      </div>
    </div>

    <!-- Botão editar com link a pagina de editar informações  -->
    <div>
      <a href="/editar-informacoes" class="btn-editar">Editar</a>
    </div>







  </div>



  <!-- Rodapé -->

  {% include 'includes/footer.html' %}







</body>

</html>