<!DOCTYPE html> 
<html lang="pt-br"> 
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>RECOOPERA | Termos de Uso </title> 
</head>
<body>
    <h1>Termo de uso</h1> 
    <p>Este é o termo de uso do site Recoopera. Ao utilizar este site, você concorda com os seguintes termos e condições:</p>

    <ol>
        <li><strong>Uso do Site:</strong> Você concorda em usar este site apenas para fins legais e de acordo com todas as leis aplicáveis.</li>

        <li><strong>Propriedade Intelectual:</strong> Todo o conteúdo deste site, incluindo textos, imagens e logotipos, é protegido por direitos autorais e outras leis de propriedade intelectual.</li>

        <li><strong>Privacidade:</strong> Respeitamos sua privacidade. Quaisquer informações pessoais coletadas serão tratadas de acordo com nossa Política de Privacidade.</li>

        <li><strong>Limitação de Responsabilidade:</strong> Não nos responsabilizamos por quaisquer danos diretos ou indiretos decorrentes do uso deste site.</li>

        <li><strong>Alterações nos Termos:</strong> Reservamo-nos o direito de modificar estes termos a qualquer momento. Recomendamos que você revise esta página periodicamente.</li>
    </ol>

    <p>Se você tiver alguma dúvida sobre estes termos, entre em contato conosco.</p>
</body>
</html>
