<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações</title>
    <link rel="stylesheet" href="../static/css/Informações_cooperativa/Pagina_Informações.css">

    <link rel="stylesheet" href="../static/css/root-de-cores.css">

  <!-- Ícones Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body>


<!-- Cabeçalho -->
 
 {% include 'includes/header.html' %} 


  <!-- Abas -->
  <div class="tabs">
  
  <button onclick="window.location" class="active">Informações</button>
  <button onclick="window.location.href='vendas.html'">Vendas</button>
</div>

  <!-- Conteúdo principal -->
  <div class="container mt-3">

    <h5>Sobre a cooperativa</h5>
    <div class="info-card">
      <p class="mb-1"><strong>Cooperativa Samuel Ferreira LTDA</strong></p>
      <p class="mb-1">46.073.136/0001-22</p>
      <p class="mb-1">
        <i class="bi bi-geo-alt"></i>
        Rua dos Bobos, 0 - Vila dos Pelicanos
      </p>
      <p class="mb-0">Araraquara, SP</p>
    </div>

    <h5>Contato</h5>
    <div class="info-card text-center">
      <div class="icone"><i class="bi bi-telephone"></i></div>
      <p class="fw-bold">Ligar para a cooperativa</p>

      <div class="d-flex align-items-center justify-content-center gap-2 mb-2 bg-light p-2 rounded">
        <i class="bi bi-telephone-fill"></i>
        <span>(16) 3333-3333</span>
      </div>

      <div class="d-flex align-items-center justify-content-center gap-2 bg-light p-2 rounded">
        <i class="bi bi-whatsapp"></i>
        <span>(16) 99999-9999</span>
      </div>
    </div>
    <div>
      <button class="btn-editar">Editar</button>
    </div>


    





  </div>






    
</body>
</html>