<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recoopera - Informações cooperativa</title>
    <link rel="stylesheet" href="../static/css/Informações_cooperativa/Pagina_Informações.css">
    <link rel="stylesheet" href="../static/css/root-de-cores.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
</head>

<body>
  {% include 'includes/header.html' %}

  <div class="botoes">
    <button onclick="window.location" class="btn-funcoes btn-info">Informações</button>
    <a href="/gerenciar-cooperados" class="btn-funcoes btn-cooperados">Cooperados</a>
    <button class="btn-funcoes btn-vendas">Vendas</button>
  </div>

  <main class="main-content">

    <section class="info-section">

      <h2 class="section-title">Sobre a cooperativa</h2>
      <div class="card-info cooperativa-card">
        <div class="text-center mb-3">
          <p class="cooperativa-nome"><strong>Cooperativa Samuel Ferreira LTDA</strong></p>
          <p class="cooperativa-cnpj"><span class="cooperativa-cnpj-bold">CNPJ:</span> 46.073.136/0001-22</p>
        </div>
        <div class="text-center localizacao">
          <p class="endereco">
            <span class="material-icons">place</span>
            Rua dos bobos, 0 - Vila dos Pelicanos
          </p>
          <p class="cidade"><strong>Araraquara, SP</strong></p>
        </div>
      </div>

    </section>

    <section class="info-section mt-4">
      <h2 class="section-title">Contato</h2>
      <div class="card-info contato-card">
        <div class="w-100 text-center mb-3">
          <p class="fw-bold">Ligar para a cooperativa</p>
        </div>
        <a href="tel:1633333333" class="btn-contato w-100 mb-3">
          <span class="material-icons">phone_android</span>
          <span>(16) 3333-3333</span>
        </a>
        <a href="https://wa.me/5516999999999" target="_blank" class="btn-contato w-100 whatsapp-btn">
          <span class="material-icons">chat</span> <span>(16) 99999-9999</span>
        </a>
      </div>
    </section>

  </main>

  <div class="card-btnEditar">
    <a href="editar_informações.html" class="btn-editar">Editar</a>
  </div>

  {% include 'includes/footer.html' %}
  <script src="/static/js/pag_informacoes/informacoesCooperativa.js" type="module"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>