<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECOOPERA | Historico de Vendas</title>
</head>
<body>
    
    <h1>Pagina Historico de Vendas</h1>
    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Material</th>
                <th>Quantidade</th>
                <th>Unidade</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for venda in vendas %}
            <tr>
                <td>{{ venda.data }}</td>
                <td>{{ venda.material }}</td>
                <td>{{ venda.quantidade }}</td>
                <td>{{ venda.unidade }}</td>
                <td>{{ venda.status }}</td>
            </tr>
            
            {% endfor %}
    </table>

</body>
</html>