<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/registrar_vendas/registrar_vendas.css">
    <link rel="stylesheet" href="/static/css/root-de-cores.css">
</head>
<body>
    {% include 'includes/header.html' %} 
    <main class="registros">
        <section class="registros__etapa">

        </section>
        <section class="registros__opcoes">
            
        </section>

    </main>
    <script src="https://kit.fontawesome.com/2fcc2a2373.js" crossorigin="anonymous"></script>
    <script src="/static/js/registro/registrar_venda.js"></script>
</body>
</html>