<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECOOPERA | Registrar Vendas</title>
    <link rel="stylesheet" href="/static/css/registro_de_vendas/registrar_vendas.css">
    <link rel="stylesheet" href="/static/css/root-de-cores.css">
    <!-- Link para o favicon -->
    <link rel="icon" href="../static/img/favicon.png" type="image/png">
</head>
<body>
    {% include 'includes/header.html' %} 
    <main class="registros">
        <section class="registros__etapa">

        </section>
        <section class="registros_">
            <div class="registros__comprador">

            </div>
            <section class="registros__opcoes">
            
            </section>
        </section>
        
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/2fcc2a2373.js" crossorigin="anonymous"></script>
    <script src="/static/js/registro/registrar_venda.js" type="module"></script>
</body>
</html>