<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de inicio</title>

     <!-- Importa as folhas de estilo personalizadas do projeto -->
    <link rel="stylesheet" href="/static/css/pag_inicial_cooperativa/styles.css">
    <link rel="stylesheet" href="/static/css/root-de-cores.css">
</head>
<body>
    {% include 'includes/header.html' %}
    <div class="corpo">
        <main class="acoes">
            <h1>Bem-vindo!</h1>
            <p>Como podemos te ajudar?</p>
            <section class="acoes__cooperativa">
                
                <button class="acoes__cooperativa-btn">
                    <a href="/buscar-comprador">buscar-comprador</a>
                 </button>
                <!-- Botão que leva a  tela de cooperativa  -->
                 <button class="acoes__cooperativa-btn">
                     <a href="/pagina-informacoes">pagina-informacoes</a>
                 </button>
                  <!-- Botão que leva a pagina registrar venda  -->
                 <button class="acoes__cooperativa-btn">
                     <a href="/registrar-venda">registrar-venda</a>
                 </button>

            </section>
        </main>
    </div> 
    
    {% include 'includes/footer.html' %}
</body>
</html>