<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de inicio</title>
    <link rel="stylesheet" href="/static/css/pag_inicial_cooperativa/styles.css">
    <link rel="stylesheet" href="/static/css/root-de-cores.css">
</head>
<body>
    {% include 'includes/header.html' %}
    <div class="corpo">
        <main class="acoes">
            <h1>Bem-vindo!</h1>
            <p>Como podemos te ajudar?</p>
            <section class="acoes__cooperativa">
                
                <button class="acoes__cooperativa-btn">
                    Procurar compradores
                </button>
                <button class="acoes__cooperativa-btn">
                    Cooperativa
                </button>
                <button class="acoes__cooperativa-btn">
                    Registrar venda
                </button>

            </section>
        </main>
    </div> 
    {% include 'includes/footer.html' %} 
    <script src="https://kit.fontawesome.com/2fcc2a2373.js" crossorigin="anonymous"></script>
</body>
</html>