<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de inicio</title>

     <!-- Importa as folhas de estilo personalizadas do projeto -->
    <link rel="stylesheet" href="/static/css/pag_inicial_cooperativa/styles.css">
    <link rel="stylesheet" href="/static/css/root-de-cores.css">
</head>
<body>

    {% include 'includes/header.html' %} 
    <main class="acoes">
        <h1>Bem-vindo!</h1>
        <p>Como podemos te ajudar?</p>
        <section class="acoes__cooperativa">
            <!-- Botão que leva a pagina procurar compradores  -->
            <button class="acoes__cooperativa-btn">
               <a href="/buscar-comprador">buscar-comprador</a>
            </button>
           <!-- Botão que leva a  tela de cooperativa  -->
            <button class="acoes__cooperativa-btn">
                <a href="/tela-cooperativa">tela-cooperativa</a>
            </button>
             <!-- Botão que leva a pagina registrar venda  -->
            <button class="acoes__cooperativa-btn">
                <a href="/registrar-venda">registrar-venda</a>
            </button>
             
        </section>
        <!-- Seção que mostra Comprador com mais  destaque  -->
        <section class="acoes__compradores">
            <h2>Compradores destaque</h2>
        </section>
    </main>
    {% include 'includes/footer.html' %} 
      <!-- LINK das fontes  -->
    <script src="https://kit.fontawesome.com/2fcc2a2373.js" crossorigin="anonymous"></script>
</body>
</html>