.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container {
  max-width: 600px;
  padding: 25px;
  background-color: var(--verde-principal);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border: 2px solid var(--verde-escuro-principal);
  /* verde bootstrap */
}

h1 {
  text-align: center;
  color: var(--verde-escuro-secundario);
  margin-bottom: 20px;
}

.btn {
  background-color: var(--verde-medio-secundario);
  border: none;
  color: var(--branco);
}

.btn:hover {
  background-color: var(--verde-claro-secundario);
  color: var(--preto);
}

textarea {
  resize: none;
}